{{ 'banner-v2.css' | asset_url | stylesheet_tag }}

<style>
    .banner__v2--wrapper.banner--{{ section.id }} {
    padding-top:{{ section.settings.padding-top }}px;
    padding-bottom:{{ section.settings.padding-bottom }}px;
   }
   .container{
    max-width:1350px;
    padding:0px 14px;
    margin:0px auto;
  }
</style>

<div class="banner__v2--wrapper banner--{{ section.id }}">
   <div class="banner__v2--inner">
     <div class="main--banner--v2">
        <div class="banner__top--bar--wrapper">
            <div class="banner__top--bar--inner container">
             {% if section.settings.header-logo != blank %}
               <div class="banner__top--logo">
                <img class="logo--header" src="{{ section.settings.header-logo  | image_url }}" alt="logo--header" height="{{ section.settings.header-logo.height }}" width="{{ section.settings.header-logo.width }}" >
               </div>
            {% endif %}
            {% if section.settings.header-text != blank %}
               <div class="banner__top--text hide-mobile">
                  {{ section.settings.header-text }}
               </div>
            {% endif %}
               <div class="banner__top--button hide-mobile">
                  <a href="{{ section.settings.header-content-Link }}"  class="header--button">
                        {{ section.settings.header-button-text }}
                    <svg width="26" height="12" viewBox="0 0 26 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.75 4.77298L7.37629e-08 4.77298L-7.37629e-08 6.27298L0.75 6.27298L0.75 4.77298ZM25.2803 6.05331C25.5732 5.76042 25.5732 5.28554 25.2803 4.99265L20.5074 0.21968C20.2145 -0.073213 19.7396 -0.0732131 19.4467 0.21968C19.1538 0.512574 19.1538 0.987447 19.4467 1.28034L23.6893 5.52298L19.4467 9.76562C19.1538 10.0585 19.1538 10.5334 19.4467 10.8263C19.7396 11.1192 20.2145 11.1192 20.5074 10.8263L25.2803 6.05331ZM0.75 6.27298L24.75 6.27298L24.75 4.77298L0.75 4.77298L0.75 6.27298Z" fill="black"/>
                    </svg>
                  </a>
               </div>
            </div>
        </div>
        <div class="banner--main--middle">
          <div class="image__main--wrapper">
            {% if section.settings.image-desktop != blank %}
            <img class="desktop-image" src="{{ section.settings.image-desktop | image_url }}" alt="desktop-image" height="{{ section.settings.image-desktop.height }}" width="{{ section.settings.image-mobile.width }}">
            {% endif %}
            {% if section.settings.image-mobile != blank %}
            <img class="mobile-image" src="{{ section.settings.image-mobile | image_url }}" alt="desktop-image" height="{{ section.settings.image-desktop.height }}" width="{{ section.settings.image-mobile.width }}">
            {% endif %}
            {% if section.settings.banner-content-button!= blank %}
                <div class="content__button hide-desktop">
                    <a href="{{ section.settings.banner-content-Link }}"  class="banner__btn">
                        {{ section.settings.banner-content-button }}

                        <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 4.77295L7.83954e-08 4.77295L-7.83954e-08 6.27295L0.75 6.27295L0.75 4.77295ZM26.7876 6.05328C27.0805 5.76039 27.0805 5.28551 26.7876 4.99262L22.0146 0.21965C21.7217 -0.0732435 21.2468 -0.0732435 20.9539 0.21965C20.6611 0.512543 20.6611 0.987417 20.9539 1.28031L25.1966 5.52295L20.9539 9.76559C20.6611 10.0585 20.6611 10.5334 20.9539 10.8263C21.2468 11.1191 21.7217 11.1191 22.0146 10.8263L26.7876 6.05328ZM0.75 6.27295L26.2572 6.27295L26.2572 4.77295L0.75 4.77295L0.75 6.27295Z" fill="white"/>
                        </svg>

                    </a>
                </div>
            {% endif %}
          </div>
          <div class="content__wrapper--main ">
            <div class="content__inner--main">
                {% if section.settings.banner-content-heading != blank %}
                <div class="content__heading">
                 {{ section.settings.banner-content-heading }}
                </div>
            {% endif %}
              {% if section.settings.banner-content-desktop != blank %}
                <div class="content__text {%if section.settings.banner-content-mobile %} hide-mobile {% endif %}">
                    {{ section.settings.banner-content-desktop }}
                </div>
              {% endif %}
               {% if section.settings.banner-content-mobile != blank %}
                <div class="content__text hide-desktop">
                    {{ section.settings.banner-content-mobile }}
                </div>
              {% endif %}
                    {% if section.settings.banner-content-button!= blank %}
                <div class="content__button hide-mobile">
                    <a href="{{ section.settings.banner-content-Link }}"  class="banner__btn">
                        {{ section.settings.banner-content-button }}

                        <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 4.77295L7.83954e-08 4.77295L-7.83954e-08 6.27295L0.75 6.27295L0.75 4.77295ZM26.7876 6.05328C27.0805 5.76039 27.0805 5.28551 26.7876 4.99262L22.0146 0.21965C21.7217 -0.0732435 21.2468 -0.0732435 20.9539 0.21965C20.6611 0.512543 20.6611 0.987417 20.9539 1.28031L25.1966 5.52295L20.9539 9.76559C20.6611 10.0585 20.6611 10.5334 20.9539 10.8263C21.2468 11.1191 21.7217 11.1191 22.0146 10.8263L26.7876 6.05328ZM0.75 6.27295L26.2572 6.27295L26.2572 4.77295L0.75 4.77295L0.75 6.27295Z" fill="white"/>
                        </svg>

                    </a>
                </div>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="banner__bottom--text">
        {% if section.settings.header-bottom-text != blank %}
            <div class="banner__bottom--textinner {% if section.settings.header-bottom-text-mobile != blank %} hide-mobile {% endif %}">
                {{ section.settings.header-bottom-text }}
            </div>
        {% endif %}
         {% if section.settings.header-bottom-text-mobile != blank %}
            <div class="banner__bottom--textinner  hide-desktop">
                {{ section.settings.header-bottom-text-mobile }}
            </div>
        {% endif %}
        </div>
     </div>
   </div>
</div>

{% schema %}
{
  "name": "banner-v2",
  "class": "banner--v2",
  "settings": [
  {
    "type":"range",
    "label":"Padding Top",
    "id":"padding-top",
    "min": 0,
    "max":500,
    "default":0,
    "step": 5,
    "unit": "px"
  },
  {
    "type":"range",
    "label":"Padding Bottom",
    "id":"padding-bottom",
    "min": 0,
    "max":500,
    "default":0,
    "step": 5,
    "unit": "px"
  },
  {
    "type": "image_picker",
    "label":"Header Logo",
    "id":"header-logo"
  },
  {
    "type": "richtext",
    "label":"Header Text",
    "id":"header-text"
  },
  {
    "type": "text",
    "label":"Header Button Text",
    "id":"header-button-text"
  },
  {
    "type": "url",
    "label":"Header Button Link",
    "id":"header-button-link"
  },
  {
    "type": "image_picker",
    "label":"Add Image Desktop",
    "id":"image-desktop"
  },
   {
    "type": "image_picker",
    "label":"Add Image Mobile",
    "id":"image-mobile"
  },
  {
    "type": "richtext",
    "label":"Banner Content Heading",
    "id":"banner-content-heading"
  },
   {
    "type": "richtext",
    "label":"Banner Content Desktop",
    "id":"banner-content-desktop"
  },
  {
    "type": "richtext",
    "label":"Banner Content  Mobile",
    "id":"banner-content-mobile"
  },
  {
    "type": "text",
    "label":"Banner Content button",
    "id":"banner-content-button"
  },
  {
    "type": "text",
    "label":"Banner Content Link",
    "id":"banner-content-Link"
  },
  {
    "type": "richtext",
    "label":"Banner Bottom Text",
    "id":"header-bottom-text"
  },
  {
    "type": "richtext",
    "label":"Banner Bottom Text Mobile",
    "id":"header-bottom-text-mobile"
  }
  ],
  "presets": [
    {
      "name": "banner-v2",
    }
  ]
}
{% endschema %}
